/* Webfont: Lato-Black */@font-face {
	font-family: 'LatoWebBlack';
	src: url('fonts/Lato-Black.eot'); /* IE9 Compat Modes */
	src: url('fonts/Lato-Black.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	url('fonts/Lato-Black.woff2') format('woff2'), /* Modern Browsers */
	url('fonts/Lato-Black.woff') format('woff'), /* Modern Browsers */
	url('fonts/Lato-Black.ttf') format('truetype');
	font-style: normal;
	font-weight: normal;
	text-rendering: optimizeLegibility;
}

/* Webfont: Lato-BlackItalic */@font-face {
	font-family: 'LatoWebBlack';
	src: url('fonts/Lato-BlackItalic.eot'); /* IE9 Compat Modes */
	src: url('fonts/Lato-BlackItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	url('fonts/Lato-BlackItalic.woff2') format('woff2'), /* Modern Browsers */
	url('fonts/Lato-BlackItalic.woff') format('woff'), /* Modern Browsers */
	url('fonts/Lato-BlackItalic.ttf') format('truetype');
	font-style: italic;
	font-weight: normal;
	text-rendering: optimizeLegibility;
}

/* Webfont: Lato-Bold */@font-face {
	font-family: 'LatoWebBold';
	src: url('fonts/Lato-Bold.eot'); /* IE9 Compat Modes */
	src: url('fonts/Lato-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	url('fonts/Lato-Bold.woff2') format('woff2'), /* Modern Browsers */
	url('fonts/Lato-Bold.woff') format('woff'), /* Modern Browsers */
	url('fonts/Lato-Bold.ttf') format('truetype');
	font-style: normal;
	font-weight: normal;
	text-rendering: optimizeLegibility;
}

/* Webfont: Lato-BoldItalic */@font-face {
	font-family: 'LatoWebBold';
	src: url('fonts/Lato-BoldItalic.eot'); /* IE9 Compat Modes */
	src: url('fonts/Lato-BoldItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	url('fonts/Lato-BoldItalic.woff2') format('woff2'), /* Modern Browsers */
	url('fonts/Lato-BoldItalic.woff') format('woff'), /* Modern Browsers */
	url('fonts/Lato-BoldItalic.ttf') format('truetype');
	font-style: italic;
	font-weight: normal;
	text-rendering: optimizeLegibility;
}

/* Webfont: Lato-Hairline */@font-face {
	font-family: 'LatoWebHairline';
	src: url('fonts/Lato-Hairline.eot'); /* IE9 Compat Modes */
	src: url('fonts/Lato-Hairline.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	url('fonts/Lato-Hairline.woff2') format('woff2'), /* Modern Browsers */
	url('fonts/Lato-Hairline.woff') format('woff'), /* Modern Browsers */
	url('fonts/Lato-Hairline.ttf') format('truetype');
	font-style: normal;
	font-weight: normal;
	text-rendering: optimizeLegibility;
}

/* Webfont: Lato-HairlineItalic */@font-face {
	font-family: 'LatoWebHairline';
	src: url('fonts/Lato-HairlineItalic.eot'); /* IE9 Compat Modes */
	src: url('fonts/Lato-HairlineItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	url('fonts/Lato-HairlineItalic.woff2') format('woff2'), /* Modern Browsers */
	url('fonts/Lato-HairlineItalic.woff') format('woff'), /* Modern Browsers */
	url('fonts/Lato-HairlineItalic.ttf') format('truetype');
	font-style: italic;
	font-weight: normal;
	text-rendering: optimizeLegibility;
}

/* Webfont: Lato-Heavy */@font-face {
	font-family: 'LatoWebHeavy';
	src: url('fonts/Lato-Heavy.eot'); /* IE9 Compat Modes */
	src: url('fonts/Lato-Heavy.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	url('fonts/Lato-Heavy.woff2') format('woff2'), /* Modern Browsers */
	url('fonts/Lato-Heavy.woff') format('woff'), /* Modern Browsers */
	url('fonts/Lato-Heavy.ttf') format('truetype');
	font-style: normal;
	font-weight: normal;
	text-rendering: optimizeLegibility;
}

/* Webfont: Lato-HeavyItalic */@font-face {
	font-family: 'LatoWebHeavy';
	src: url('fonts/Lato-HeavyItalic.eot'); /* IE9 Compat Modes */
	src: url('fonts/Lato-HeavyItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	url('fonts/Lato-HeavyItalic.woff2') format('woff2'), /* Modern Browsers */
	url('fonts/Lato-HeavyItalic.woff') format('woff'), /* Modern Browsers */
	url('fonts/Lato-HeavyItalic.ttf') format('truetype');
	font-style: italic;
	font-weight: normal;
	text-rendering: optimizeLegibility;
}

/* Webfont: Lato-Italic */@font-face {
	font-family: 'LatoWeb';
	src: url('fonts/Lato-Italic.eot'); /* IE9 Compat Modes */
	src: url('fonts/Lato-Italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	url('fonts/Lato-Italic.woff2') format('woff2'), /* Modern Browsers */
	url('fonts/Lato-Italic.woff') format('woff'), /* Modern Browsers */
	url('fonts/Lato-Italic.ttf') format('truetype');
	font-style: italic;
	font-weight: normal;
	text-rendering: optimizeLegibility;
}

/* Webfont: Lato-Light */@font-face {
	font-family: 'LatoWebLight';
	src: url('fonts/Lato-Light.eot'); /* IE9 Compat Modes */
	src: url('fonts/Lato-Light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	url('fonts/Lato-Light.woff2') format('woff2'), /* Modern Browsers */
	url('fonts/Lato-Light.woff') format('woff'), /* Modern Browsers */
	url('fonts/Lato-Light.ttf') format('truetype');
	font-style: normal;
	font-weight: normal;
	text-rendering: optimizeLegibility;
}

/* Webfont: Lato-LightItalic */@font-face {
	font-family: 'LatoWebLight';
	src: url('fonts/Lato-LightItalic.eot'); /* IE9 Compat Modes */
	src: url('fonts/Lato-LightItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	url('fonts/Lato-LightItalic.woff2') format('woff2'), /* Modern Browsers */
	url('fonts/Lato-LightItalic.woff') format('woff'), /* Modern Browsers */
	url('fonts/Lato-LightItalic.ttf') format('truetype');
	font-style: italic;
	font-weight: normal;
	text-rendering: optimizeLegibility;
}

/* Webfont: Lato-Medium */@font-face {
	font-family: 'LatoWebMedium';
	src: url('fonts/Lato-Medium.eot'); /* IE9 Compat Modes */
	src: url('fonts/Lato-Medium.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	url('fonts/Lato-Medium.woff2') format('woff2'), /* Modern Browsers */
	url('fonts/Lato-Medium.woff') format('woff'), /* Modern Browsers */
	url('fonts/Lato-Medium.ttf') format('truetype');
	font-style: normal;
	font-weight: normal;
	text-rendering: optimizeLegibility;
}

/* Webfont: Lato-MediumItalic */@font-face {
	font-family: 'LatoWebMedium';
	src: url('fonts/Lato-MediumItalic.eot'); /* IE9 Compat Modes */
	src: url('fonts/Lato-MediumItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	url('fonts/Lato-MediumItalic.woff2') format('woff2'), /* Modern Browsers */
	url('fonts/Lato-MediumItalic.woff') format('woff'), /* Modern Browsers */
	url('fonts/Lato-MediumItalic.ttf') format('truetype');
	font-style: italic;
	font-weight: normal;
	text-rendering: optimizeLegibility;
}

/* Webfont: Lato-Regular */@font-face {
	font-family: 'LatoWeb';
	src: url('fonts/Lato-Regular.eot'); /* IE9 Compat Modes */
	src: url('fonts/Lato-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	url('fonts/Lato-Regular.woff2') format('woff2'), /* Modern Browsers */
	url('fonts/Lato-Regular.woff') format('woff'), /* Modern Browsers */
	url('fonts/Lato-Regular.ttf') format('truetype');
	font-style: normal;
	font-weight: normal;
	text-rendering: optimizeLegibility;
}

/* Webfont: Lato-Semibold */@font-face {
	font-family: 'LatoWebSemibold';
	src: url('fonts/Lato-Semibold.eot'); /* IE9 Compat Modes */
	src: url('fonts/Lato-Semibold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	url('fonts/Lato-Semibold.woff2') format('woff2'), /* Modern Browsers */
	url('fonts/Lato-Semibold.woff') format('woff'), /* Modern Browsers */
	url('fonts/Lato-Semibold.ttf') format('truetype');
	font-style: normal;
	font-weight: normal;
	text-rendering: optimizeLegibility;
}

/* Webfont: Lato-SemiboldItalic */@font-face {
	font-family: 'LatoWebSemibold';
	src: url('fonts/Lato-SemiboldItalic.eot'); /* IE9 Compat Modes */
	src: url('fonts/Lato-SemiboldItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	url('fonts/Lato-SemiboldItalic.woff2') format('woff2'), /* Modern Browsers */
	url('fonts/Lato-SemiboldItalic.woff') format('woff'), /* Modern Browsers */
	url('fonts/Lato-SemiboldItalic.ttf') format('truetype');
	font-style: italic;
	font-weight: normal;
	text-rendering: optimizeLegibility;
}

/* Webfont: Lato-Thin */@font-face {
	font-family: 'LatoWebThin';
	src: url('fonts/Lato-Thin.eot'); /* IE9 Compat Modes */
	src: url('fonts/Lato-Thin.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	url('fonts/Lato-Thin.woff2') format('woff2'), /* Modern Browsers */
	url('fonts/Lato-Thin.woff') format('woff'), /* Modern Browsers */
	url('fonts/Lato-Thin.ttf') format('truetype');
	font-style: normal;
	font-weight: normal;
	text-rendering: optimizeLegibility;
}

/* Webfont: Lato-ThinItalic */@font-face {
	font-family: 'LatoWebThin';
	src: url('fonts/Lato-ThinItalic.eot'); /* IE9 Compat Modes */
	src: url('fonts/Lato-ThinItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	url('fonts/Lato-ThinItalic.woff2') format('woff2'), /* Modern Browsers */
	url('fonts/Lato-ThinItalic.woff') format('woff'), /* Modern Browsers */
	url('fonts/Lato-ThinItalic.ttf') format('truetype');
	font-style: italic;
	font-weight: normal;
	text-rendering: optimizeLegibility;
}


/******************************************header***************************************/



body{
	margin:0px;
}
*{
	box-sizing: border-box;
	outline:none;
}
.clear:after{
	content: " ";
	display: block;
	clear: both;
}
.clean{
	clear:both;
}
p{
	margin:0px;
}
ul{
	margin:0px;
	padding:0px;
}
.pointer{
	cursor: pointer;
}
.center{
	float:none;
	margin:0px auto;
}
.nopadd{
	padding:0px;
}
.rightNopadd{
	padding-right:0px;
}
.leftNopadd{
	padding-left:0px;
}
.left{
	float:left;
}
.right{
	float:right;
}
a{
	color:inherit;
}
a:hover{
	text-decoration: none;
	color:inherit;
}
.content{
	width:1170px;
	margin:0px auto;
}
.contentSecond{
	width:900px;
	margin: 0px auto;
}
.hslide_imges img{
	width: 100%;
}

.h_main{
	background-color: rgba(0,0,0,0.5);
	position: relative;
	z-index: 10;
	padding-bottom: 3px;
}
.head_menu{
	/*position: absolute;*/
	/*top: 0px;*/
	/*width: 100%;*/
}
.head_items{
	position: absolute;
	top: 0px;
	left: 0;
	right: 0px;
	margin: auto;
}
.head_logo{
	width:170px;
	background-color: #fff;
	padding: 5px;
	margin-top: 7px;
	border-radius: 3px;
	-webkit-box-shadow: 0px 0px 9px 1px rgb(39, 255, 0);
	-moz-box-shadow: 0px 0px 9px 1px rgb(39, 255, 0);
	box-shadow: 0px 0px 9px 1px rgb(39, 255, 0);
}
.head{
	position: relative;
}
.menu_items span{
	vertical-align: middle;
	color: white;
	font-size: 17px;
	font-family: 'LatoWeb';
	padding: 5px 20px;
}
.menu_items{
	text-align: right;
	margin-top: 40px;
}

.menu_items span:hover{
	text-align: right;
	margin-top: 35px;
	color: #0abe51;
	cursor: pointer;
	background-color: #fdfffe;
	border-radius: 16px;
}
.main_search{
	position: absolute;
	top: 260px;
	right: 0;
	left: 0;
	margin: auto;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	/* display: none; <- Crashes Chrome on hover */
	-webkit-appearance: none;
	margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}
.filter_items select{
	width: 100%;
	font-size: 17px;
	padding: 12px;
	font-family: 'LatoWeb';
	border: 1px solid #0abe51;
}
.filter_items input{
	width: 100%;
	font-size: 17px;
	padding: 9.5px;
	font-family: 'LatoWeb';
	border: 1px solid #0abe51;
}
.filter_items label{
	font-family: 'LatoWeb';
	color: #0abe51;
	font-size: 15px;
}
.filter_items button{
	width: 100%;
	padding: 4px;
	border: 1px solid #0abe51;
	background: #0abe51;
	font-size: 24.5px;
	color: white;
}
.filter_items button:hover{
	background: #007b1d;
	border: 1px solid #007b1d;
	font-size: 24.5px;
}
.main_row{
	text-align: center;
	background: #0abe51;
}
.main_row_text span{
	color: #fff;
	font-size: 25px;
	font-family: LatoWebLight;
}
.main_row_text{
	padding:10px;
}
.main_r_title{
	font-size: 28px;
	font-family: 'LatoWebBold';
	text-align: center;
	margin: 40px auto;
}
.main_r_pins{
	color: #0abe51;
	font-size: 83px;
}
.main_r_first{
	font-size: 25px;
	color: #007b1d;
	font-family: 'LatoWebLight';
}
.main_r_second{
	font-size: 15px;
	color: #007b1d;
	font-family: 'LatoWebLight';
	font-style: italic;
	padding-top: 5px;
}
.m_res_img{
	width:100%;
	height: 215px;
	overflow: hidden;
	position: relative;
}
.m_res_img img{
	width: 100%;
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	margin: auto;
}
.res_homes{
	position: relative;
	cursor: pointer;
	margin-bottom: 15px;
	margin-top: 15px;
}
.res_texts{
	position: absolute;
	top: 50px;
	left: 0;
	right: 0;
	font-size: 0px;
	transition: font-size 0.4s;
}
.res_name{
	color: #fff;
	font-family: 'LatoWebBold';
	text-align: center;
	margin-bottom: 15px;
	text-shadow: 0px 0px 5px black;
 }
.res_name span{
	padding: 0px 2px;
	border-bottom: 0px solid white;
	transition:border-bottom 0.4s ;
}

.res_homes:hover .res_name span{
	border-bottom: 1px solid white;
}
.res_price{
	color: #fff;
	font-family: 'LatoWeb';
	text-align: center;
	/*font-size: 20px;*/
	text-shadow: 0px 0px 5px black;
}
.res_price span{
	padding: 0px 4px;
}
.res_homes:hover  .res_texts{
	font-size: 20px;
}
.res_homes:hover .m_res_img{
	-webkit-filter: blur(2px);
}

.main_abs{
	position: absolute;
	top: 0px;
	z-index: -2;
}
.my_search{
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	margin: auto;
}
.greenColor{
	z-index: 10;
	background-color: rgb(0, 150, 64) !important;
}
.home_slide_pics{

	position: relative;
}
.h_slide_img{
	width: 100%;
	height: 400px;
	overflow: hidden;
	position: relative;
}
.h_slide_img img{
	width:100%;
	position: absolute;
	top:0;
	left:0;
	right: 0;
	bottom: 0;
	margin:auto;
}
.a_left_home{
	left: 0px;
	z-index: 1;
	padding: 50px;
}
.a_right_home{
	right: 0px;
	z-index: 1;
	padding: 60px;
}
.my_map{

}
.my_information{
    overflow-x: auto;
    overflow-y: scroll;
}
.my_home_name{
	font-family: 'LatoWeb';
	font-size: 22px;
}
.my_home_id{
    font-family: 'LatoWebLight';
    font-size: 16px;
    margin-top:10px;
}
.my_home_bed{
    font-family: 'LatoWeb';
    font-size: 24px;
    margin-top:10px;
    color: #00b11d;
    margin-left:7%;
}
.my_home_bed span{
    color: #00190b;
    padding-left: 5px;
}
::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}
.my_homes_desc{
    border-top: 1px solid #e8e8e8;
    background-color: #f3f3f3;
    padding: 15px;
}
.my_home_desc{
    margin-top:20px;
    font-family: 'LatoWeb';
    font-size: 22px;
}
.my_home_descr{
    margin-top:10px;
    font-family: 'LatoWeb';
    font-size: 16px;
    margin-bottom:30px;
}
.slick-dotted.slick-slider {
    margin-bottom: 0px;
}
.similar_img{
    width: 100%;
    height: 100px;
    overflow: hidden;
    position: relative;
}
.my_similar{
    text-align: center;
}
.similar_img img{
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    margin: auto;
}
.similar_address p{
    margin-top:10px;
    font-family: 'LatoWeb';
    font-size: 14px;
}
.similar_price p{
    margin-top:10px;
    font-family: 'LatoWebLight';
    font-size: 12px;
}
.my_similars{
    margin-top:25px;
}
.similar_title{
    font-family: 'LatoWeb';
    font-size: 17px;
    padding: 15px;
    text-align: center;
}
.login_main{
    background-color: #fefefe;
    border-radius:4px;
    box-shadow: 0px 0px 20px #fff;
    padding-bottom: 1px;
}
.sign_title p {
    font-family: 'LatoWeb';
    font-size: 16px;
    padding: 15px 15px;

    text-align: center;
}
.log_in_text{
    font-family: 'LatoWebLight';
    font-size: 14px !important;
    padding: 5px 10px !important;
    text-align: center;
}
.sign_row{
    width: 75%;
    margin:10px auto;
    text-align: right;
}
.sign_row input{
    padding: 8px;
    border:none;
    border-bottom:1px solid #00b11d;
    outline: none;
    font-family: 'LatoWebLight';
    font-size: 16px;
    width: 100%;
}
@media (min-width: 768px){
    .modal-dialog {
        width: 450px;
        margin: 50px auto;
    }
}


.sign_butt{
    width: 100px !important;
    background-color: #00b11d;
    color: #fff;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}


.reg_checks{
    float: left;
    width: 33.333%;
    text-align: center;
}
.modal-backdrop.in {
    filter: alpha(opacity=50);
    opacity: .5;
    z-index: 1;
}
.map_imgs{
	width: 300px;
	height: 300px;
}
.map_imgs img{
	position: absolute;
	top:0;
	left:0;
	bottom:0;
	right: 0;
	margin: auto;
}
.map_home_name{
	text-align: center;
	position: absolute;
	top: 2px;
	z-index: 1;
	background-color:#00b11d ;
	color: white;
	font-size: 15px;
	left: 0;
	right: 0;
	font-family: 'LatoWeb';
	padding: 2px;
	border-radius: 4px;
}
.change_pass{
	margin-top:5px;
	text-align: right;
	font-size: 13px;
	display: none;
	color: white;
}
.change_pass_titles{
	text-align: center;
	font-size: 19px;
	font-family: 'LatoWeb';
}
.change_pass_main{
	padding-top: 15px;
	padding-bottom: 15px;
	margin-top: 30px;
	margin-bottom: 150px;
	background-color: #fbfbfb;
	border: 1px solid #eaeaea;
	border-radius: 4px;
}
.change_rows{
	margin-top: 15px;
}
.change_rows input{
	width: 100%;
	padding: 9px;
	border: none;
	/*border-left: 2px solid #0abe51;*/
	/*border-right: 2px solid #0abe51;*/
	/*border-top-left-radius: 10px;*/
	/*border-bottom-right-radius: 10px;*/
	border-radius: 2px;
	box-sizing: border-box;
	font-family: 'LatoWebLight';
}
.change_rows_butt{
	margin-top: 15px;
	text-align: right;
}
.change_rows_butt input{
	padding: 6px 12px;
	border: none;
	outline: none;
	font-family: 'LatoWebLight';
	font-size: 16px;
	color: white;
	background-color: #00b11d;
	border-radius: 2px;
}
.рequest_call{
	position: fixed;
	z-index: 1100;
	bottom: 15px;
	right: 25px;
	cursor: pointer;
}
.рequest_call p{
	color: white;
	padding: 3px 12px;
	font-size: 30px;
	border-radius: 58px;
	background-color: #00b11d;
	border: 5px solid #ece9e9;
}
.рequest_call:hover {
	animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
	transform: translate3d(0, 0, 0);
	backface-visibility: hidden;
	perspective: 100px;
}
@keyframes shake {
	10%, 90% {
		transform: translate3d(-1px, 0, 0);
	}

	20%, 80% {
		transform: translate3d(2px, 0, 0);
	}

	30%, 50%, 70% {
		transform: translate3d(-4px, 0, 0);
	}

	40%, 60% {
		transform: translate3d(4px, 0, 0);
	}
}
.geeemob_main{
	display: none;
	position: fixed;
	background-color: #0abe51;
	width: 64px;
	height: 64px;
	-webkit-border-radius: 40px;
	-moz-border-radius: 40px;
	border-radius: 40px;
	z-index: 50;
	bottom: 50px;
	left: 5px;
}















.footer_main {
    background-image: url(../../assets/images/content/amenanew.png);
    height: 600px;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 50px;
}
.b_inp {
	width: 100%;
	padding: 5px;
	margin-bottom: 7px;
	border: 1px solid #065413;
	border-radius: 2px;
	font-size: 13px;
	box-shadow: 0px 0px 1px 0px rgb(136, 165, 130);
}
.b_inp_submit{
	background-color: #0abe51;
}
.cont_inf_png {
    margin-top: 200px;
}
.cont_inf {
    padding: 2px;
    font-size: 16px;
	text-align: center;
}
.cont_inf_text {
    color: white;
}
.cont_agent_box textarea{
	resize: vertical;
	max-height: 200px;
	min-height: 100px;
	margin-top: 0px;
	margin-bottom: 0px;
}












.this_h_img{
	width: 100%;
	height: 150px;
	overflow: hidden;
	position: relative;
}
.this_h_img img{
	width: 100%;
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	margin: auto;
}
.my_houses_inf {
	overflow-x: auto;
	overflow-y: scroll;
	background-color: #f8f8f8
}
.my_houses_title{
	font-family: 'LatoWeb';
	font-size: 20px;
	padding: 15px;
	text-align: center;
}
.by_reg_name{
	font-family: 'LatoWeb';
	font-size: 16px;
	margin-top: 8px;
}
.by_reg_props ul li{
	display: inline-block;
}
.by_reg_props{
	margin-top:2px;
}
.by_reg_lefting{
	margin-left:15px;
}
.by_reg_props ul li p span{
	font-family: 'LatoWeb';
	padding-left: 3px;
}
.by_reg_props ul li p i{
	color: #00b11d;
}
.by_reg_price{
	font-family: 'LatoWebLight';

}
.by_reg_mains{
	box-sizing: border-box;
	cursor: pointer;
	border: none;
	padding-top: 15px;
	padding-bottom: 15px;
}
.by_reg_view{
	width: 0px;
	height: 0px;
	left:50%;
	top:50%;
	overflow: hidden;
	transition: 0.09s;
}
.by_reg_view p{
	text-align: center;
	font-size: 90px;
	color: white;
	background: rgba(0,0,0,0.5);
	height: 150px;
}
.by_reg_view{
	position: absolute;
}
.by_reg_mains:hover .by_reg_view{
	width: 100%;
	height: 150px;
	left:0px;
	top:0px;
}
.terms_main{
	margin-top:30px;
	margin-bottom:30px;
}
.dls_terms_title{
	font-family: 'LatoWeb';
	font-size: 30px;
	text-align: center;
}
.term_type_title{
	margin-top:30px;
	font-family: 'LatoWeb';
	font-size: 22px;
	text-align: center;
	color: #005d11;
}
.term_type_text{
	margin-top:15px;
	font-family: 'LatoWeb';
	font-size: 16px;
	color: #001807;
}
.foot_text_title{
	font-family: 'LatoWeb';
	font-size: 19px;
	color: #ffffff;
	margin-bottom: 20px;
}
.foot_text_main{
	margin-top: 200px;
}
.foot_text_items{
	font-family: 'LatoWeb';
	font-size: 15px;
	color: #ffffff;
	padding: 2px;
}
.my_houses_title_error{
	color:red;
}
.sell_home {
	margin-top: 20px;
}
.sell_home_text {
	font-family: 'LatoWeb';
	font-size: 16px;
	margin-bottom: 35px;
}
.sxt_f {
	margin-bottom: 20px;
}
.sell_home_text_f {
	font-family: 'LatoWeb';
	font-size: 26px;
	text-align: center;
}
.sell_home_text ol li {
	font-family: 'LatoWeb';
	margin-top: 12px;
}
.sell_home_text_li {
	font-family: 'LatoWeb';
	font-size: 15px;
	margin-left: 15px;
}
.s_home_t {
	font-family: 'LatoWeb';
	font-size: 20px;
	margin-bottom: 30px;
}
.s_home_t_s {
	font-family: 'LatoWeb';
	font-size: 20px;
	margin-bottom: 60px;
}
.my_socials{
	text-align: center;
	margin-top:20px;
}
.my_socials span{
	font-size: 32px;
	color: #0abe51;
	cursor: pointer;
}
.my_socials span:hover{
	font-size: 36px;
	color: #378bff;
}
.like_home_block{
	text-align: center;
}
.like_home_block span{
	font-size: 24px;
	color: #ababab;
	cursor: pointer;
}
.like_active{
	color: #0abe51 !important;
}
.res_delete{
	color: #d60f0f;
	font-size: 26px;
	position: absolute;
	top: 16px;
	right: 20px;
	z-index: 100000;
}
.forgot_text{
	font-family: 'LatoWebLight';
	font-size: 16px;
	padding: 5px 0px;
	text-align: right;
	width: 75%;
	margin: 0px auto;
}
.mobail_footer{
	display: none;
}
.mainheader{
	position: relative;
	z-index: 1;
}
.mobailLogo{
	display: none;
}


.serch_opacity{
	display: none;
}
.search_mobail_btns{
	display: none;
}
.fancVideos {
	width: 20%;
	padding: 10px;
}
.vid_title {
	font-family: LatoWebLight;
	text-align: center;
	font-size: 14px;
	font-weight: normal;
	color: #72878b;
}
video{
	border: 1px solid rgb(0, 177, 29);
	box-shadow: 0px 0px 1px 1px rgb(0, 177, 29);
}
.main_links{
	border: 3px solid #00b11d;
	margin: 8px auto;
	border-radius: 30px;
	padding: 3px 0px;
	background: #00b167;
	text-align: center;
	color: white;
	font-family: latoweb;
	font-size: 15px;
}
.main_had{
	margin-top: -100px;
}
.oru_list_view{
	margin-top: 10px;
	text-align: center;
}
.oru_list_view span{
	border-radius: 50px;
	padding: 7px 35px;
	background: #0abe51;
	color: #fff;
	font-size: 18px;
	font-family: LatoWeb;
	cursor: pointer;
}

.my_map_mod{
	width: 70%;
	height: 500px;
	margin: 50px auto;
}
.our_h_title{
	background-color:#0abe51;
	color:#ffffff;
	text-align: center;
	font-size: 22px;
	padding-top: 5px;
	padding-bottom: 5px;
	position: relative;
	z-index: 1;
	font-family: LatoWeb;
}


@media screen and (min-width: 480px) and (max-width: 768px){
	.content{
		width: 99%;
		margin:0px auto;
	}
	.main_had {
		margin-top: -165px;
	}
	.head_search {

	}
	.main_search {

		top: 190px;
	}
	.mob_hidd{
		display: none;
	}
	.m_from_top{
		margin-top: 195px;
	}
}
@media screen and (min-width: 320px) and (max-width: 480px){
	.geeemob_main {
		display: block;
	}
	.map_imgs{
		width: 150px;
		height: 150px;
	}
	.my_map_main{
		height: 616px;
	}
	.fancVideosMain{
		display: none;
	}
	.loan_pics_main{
		display: none;
	}
	.mob_select_as{
		float: none;
		margin: 0px auto;
	}
	.my_map_mod{
		width: 85%;
		height: 600px;
		margin: 25px auto;
	}
	.fancVideos {

		/*width: 50%;*/
		/*padding: 10px;*/
	}
	.content{
		width: 100%;
	}
	.footer_main  , .рequest_call
	{
		display: none;
	}
	.mobail_footer{
		display: block;
		position: fixed;
		bottom: 0;
		left:0;
		right:0;
		background: #0abe51;
	}
	.icon_mob_icon{
		text-align: center;
		font-size: 20px;
		padding-bottom:5px;
		padding-top: 5px;
		color:#fff;
	}
	.main_had{
		position: static;
	}
	.mainheader{
		position: static;
		background: #0abe51;
	}

	.mob_right{

	}

	.menu_items span{
		vertical-align: middle;
		color: white;
		font-size: 20px;
		font-family: 'LatoWeb';
		padding: 5px 5px;
	}
	.head_logo{
		width: 100%;
		text-align: center;
	}
	.head_logo img{
		width: 35%;
	}
	.menu_items
	{
		text-align: center;
		width: 33.3%;
		margin-top: 5px;
	}
	.mobailLogo{
		display: none;
	}

	.serch_opacity
	{
		/*border:1px solid red;*/
		position: fixed;
		z-index: 9999;
		top:0;
		bottom: 0;
		left:0;
		right: 0;
		background: #222222;
		opacity: 0.5;
		display: none;
	}
	.main_search{
		position: fixed;
		z-index: 1000000;
		display: none;
		background: white;
		padding: 20px;
	}
	.my_homes_desc {
		border-top: 1px solid #e8e8e8;
		background-color: #f3f3f3;
		padding: 10px;
		margin-bottom: 85px;
	}
	.my_home_bed{
		margin-left: 7%!important;
	}
	.filter_items{
		margin-top: 10px;
	}
	.search_mobail_btns{
		display: block;
		padding: 16.5px 18px;
		border-radius: 50%;
		position: fixed;
		right: 5px;
		background-color: #0abe51;
	    text-shadow: 0px 0px 2px #ffffff;
		box-shadow: 0px 0px 2px #ffffff;
		border: 1px solid #0abe51;
		color: #ffffff;
		bottom: 50px;
		z-index: 555555;

	}
}
.foot_eq_host_image{
	text-align: center;
}
